/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          BODY
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.student-container {
	background: #FFF;
	width: 100%;
	height: 60%;
	margin: 0;
	font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
	text-align: center;
  padding: 10% 0;
}

.profile {
	display: inline;
	width: 21%;
	margin: 2%;
	float: left;
}

img {
	margin: 10px 0;
	border-radius: 75px;
	/*border-style: solid;    use to align hover     */
	/*border-width: thin;     use to align hover      */
}

.overlay {
	position: absolute;
  top: 10px;
  bottom: 0;
  left: 54px;
  right: 0;
	width: 150px;
	height: 150px;
	border-radius: 75px;
  opacity: 0;
	transition: .7s ease;
	background-color: #8d8989;
}

.eclipse {
	position: relative;
}

.eclipse:hover .overlay {
	opacity: 1;
}
.video-text {
	 font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
   color: #FFF;
   font-size:14px;
	 line-height: 20px;
	 font-weight: 500;
	 position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.press-play {
	border-radius: 0;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

p {
	margin: 8px 0;
  font-size: 12px;
}
=======
=======
/*Header*/

.logo {
  position: relative;
  margin:auto;
  padding-left: 15px;
 	padding-top: 15px;
 	padding-bottom: 15px;
 }
 
 .header {
  	background-color: grey;
  }

========



========
/*Footer
*/

.footer {
  background-color: grey;
}

.copy-right {
  font-family: 'Codystar',cursive, sans-serif;
  font-size: 15px;
  color: white;
  float: left;
}


.nav-bar {
  float: right;
  font-family: 'Cutive Mono';
}

.footer {
  background-color: grey;
  width: 100%;
  display: inline-block;
  float: right;
  clear: both;
}

.social-link {
  display: inline-block;
  width: 10%;
}
========


