/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

<<<<<<< HEAD
/*==================================
             Header
===================================*/

/*.logo {
  position: relative;
  margin: auto;
  padding-left: 15px;
 	padding-top: 15px;
 	padding-bottom: 15px;
 }*/



.left-column {
	width:15%;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	color: #FFF;
  height: 900px;
	position: relative;
	/*padding-bottom: 100% 0;*/
	background-image: url(images/logo-white-icon.png);
  text-align: center;
	font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
  background-color:#010154;
}

#image-down {
	display:inline-block;
	padding: 0;
	margin-bottom: 0;
	margin-left: 0;
	position: relative;
	top: 47px;
	left: 0;
	border-radius: 0;
/*
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);*/
}
#vertical {
	  transform: rotate(90deg);
		position: relative;
		top: 90px;
		left: 0;
		font-size: 100px;
		font-weight: 600;
}
.link-left {
	display: block;
}
.social-link-left {
	height: 14%;
	width: 14%;
	margin: 0;
	float: left;
	display: inline-block;
}

/*li:nth-child(6){
	height: 14%;
	width: 14%;
	float: left;
	display: block;
}*/
.sidenav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #010154;
	overflow-x: hidden;
	padding-top: 60px;
	transition: .5s;
}
.sidenav ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
		text-align: center;
}
.sidenav li:hover, .offcanvas li:focus {
    color: #818181;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.spacing {
		margin: 10%;

}

#nav-logo {
	border-radius: 0;
}

#copy-right {
  font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
	font-weight: 600;
	text-align: center;
	clear: both;
	width: 100%;
}
=======
>>>>>>> bddde456a93258aa56bff2ec742faa4a94d1ce7e
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          BODY
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.student-container {
	background: #FFF;
	width: 80%;
	height: 60%;
	margin: 0;
	font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
	text-align: center;
  padding: 0;
	display: inline;
	float: left;

}

.profile {
	display: inline;
	width: 21%;
	margin: 2%;
	float: left;
}

<<<<<<< HEAD

=======
>>>>>>> bddde456a93258aa56bff2ec742faa4a94d1ce7e
img {
	margin: 10px 0;
	border-radius: 75px;
	/*border-style: solid;    use to align hover     */
	/*border-width: thin;     use to align hover      */
}

.overlay {
	position: absolute;
  top: 10px;
  bottom: 0;
  left: 30px;
  right: 0;
	width: 150px;
	height: 150px;
	border-radius: 75px;
  opacity: 0;
	transition: .7s ease;
	background-color: #8d8989;
}

.eclipse {
	position: relative;
}

.eclipse:hover .overlay {
	opacity: 1;
}
.video-text {
	 font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
   color: #FFF;
   font-size:14px;
	 line-height: 20px;
	 font-weight: 500;
	 position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.press-play {
	border-radius: 0;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

p {
	margin: 8px 0;
  font-size: 12px;
}
<<<<<<< HEAD
=======
=======
=======
/*Header*/

.logo {
  position: relative;
  margin:auto;
  padding-left: 15px;
 	padding-top: 15px;
 	padding-bottom: 15px;
 }
 
 .header {
  	background-color: grey;
  }

========
>>>>>>> bddde456a93258aa56bff2ec742faa4a94d1ce7e


/*=================================
							Footer
===================================*/




.nav-bar {
  float: right;
  font-family: 'Cutive Mono';
}

.footer {
  background-color: white;
  width: 100%;
  display: inline-block;
  float: right;
<<<<<<< HEAD
	clear: both;
=======
  clear: both;
>>>>>>> bddde456a93258aa56bff2ec742faa4a94d1ce7e
}

.social-link {
  display: inline-block;
  width: 10%;
}
<<<<<<< HEAD
=======
========


>>>>>>> bddde456a93258aa56bff2ec742faa4a94d1ce7e
